/* Inputs の Description の幅を広げてセルがつぶれないようにしている */
#inputs ~ div.md-typeset__scrollwrap table tr td:nth-child(2) {
    min-width: 300px;
}


/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 0 50px 50px 50px
  }
  
  /* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 150%;
    padding: 0 100px 0 100px
}

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

.footer__items {
    margin-bottom: 0;
    padding-left: 0;
}
.footer__items, .menu__list, .pills__item {
    list-style-type: none;
}

.footer__item, .pills__item+.pills__item {
    margin-top: 0;
}
ol, ul {
    margin: 0 0 0;
    padding-left: 0;
}